doctype html
html
  head
    title Jupitercoin
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='description' content="Jupitercoin is a scarce scrypt altcoin based on the bitcoin protocol.")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700')
    link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/bower_components/animate.css/animate.min.css')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/styles.css')
    link(rel='icon' href='https://i.imgur.com/twiuQK0.png')
  body(data-spy='scroll' data-target='#navbar-content')
    #top
    nav.navbar.navbar-custom.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-content')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#top') Jupitercoin
        .collapse.navbar-collapse#navbar-content
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#top') Home
            li
              a(href='#download') Download
            li
              a(href='#info') About


    .jumbotron.full-page#landing
      .container.text-center
        .row
          .col-sm-8.col-sm-offset-2
            img.wow.fadeIn(height='150' src='https://i.imgur.com/twiuQK0.png')
            br
            h1.wow.fadeIn Jupitercoin
            h2.wow.fadeIn(data-wow-delay='0.3s') The godlike cryptocurrency
            br
            br
            p.wow.fadeIn(data-wow-delay='0.5s').
              Safe, secure scrypt-based proof of work, scarce block rewards, and Digishield difficulty retargeting.
            br
            br
            br
            a.btn.btn-lg.btn-custom-inverse.wow.bounce(href='#download' data-wow-delay='0.7s') Get Started Today
            br
            br
            br
            br
            img.img-responsive.wow.fadeIn.img-bw(src='https://i.imgur.com/HewsVeO.png')
            br
            br
    .jumbotron.full-page#download
      .container.text-center
        .row
          .col-sm-8.col-sm-offset-2
            h1 Download (v2.0.3)
            br
            p We have daemons and GUIs available for Windows and Linux.  The source code is hosted on GitHub.
            br
            br
            .row
              .col-sm-4
                img(height='150' src='https://i.imgur.com/SRwfE1l.png')
                br
                br
                a.btn.btn-custom(href='https://github.com/jupitercoin/jupitercoin') Source
              .col-sm-4
                img(height='150' src='https://i.imgur.com/S8XzrHa.png')
                br
                br
                a.btn.btn-custom(href='https://github.com/jupitercoin/jupitercoin/releases/download/v2.0.3/jupitercoind-linux64') Linux (x64) Daemon
                br
                br
                a.btn.btn-custom(href='https://github.com/jupitercoin/jupitercoin/releases/download/v2.0.3/jupitercoin-cli-linux64') Linux (x64) CLI
                br
                br
                a.btn.btn-custom(href='https://github.com/jupitercoin/jupitercoin/releases/download/v2.0.3/jupitercoin-qt-linux64') Linux (x64) QT
              .col-sm-4
                img(height='150' src='http://i.imgur.com/5CnxAqL.png')
                br
                br
                a.btn.btn-custom(href='https://github.com/jupitercoin/jupitercoin/releases/download/v2.0.3/jupitercoind.exe') Windows (x32) Daemon
                br
                br
                a.btn.btn-custom(href='https://github.com/jupitercoin/jupitercoin/releases/download/v2.0.3/jupitercoin-cli.exe') Windows (x32) CLI
                br
                br
                a.btn.btn-custom(href='https://github.com/jupitercoin/jupitercoin/releases/download/v2.0.3/jupitercoin-qt.exe') Windows (x32) QT
            .row
              .col-xs-12
                br
                br
                br
                a.btn.btn-custom.btn-lg(href='#info') More Coin Info
                br
                br
    .jumbotron.full-page#info
      .container.text-center
        .row
          .col-sm-8.col-sm-offset-2
            h1 Info
            br
            .row.text-left
              .col-sm-6
                h2.text-center Basics
                ul
                  li Scarce Scrypt PoW
                  li 1 minute block times
                  li Digishield difficulty retargeting
                  li RPC Port 8569
                  li P2P Port 8568
              .col-sm-6
                h2.text-center Block Rewards
                ul
                  li 10 coins per block: 0 - 99999
                  li 5 coins per block: 100000 - 199999
                  li 2.5 coins per block: 200000 - 299999
                  li 1.25 coins per block: 300000 - 399999
                  li 1 coin per block: 400000+
            br
            br
            img.wow.fadeIn(height='150' src='https://i.imgur.com/twiuQK0.png')
            br
            br
                

                

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/wow/dist/wow.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/scripts.js')
